@import 'tailwindcss';
@config '../tailwind.config.ts';

body {
	background-color: #ffffff;
	color: #1d1b20;
	font-family: 'Roboto Flex', Roboto, ui-sans-serif, system-ui, sans-serif;
}

* {
	box-sizing: border-box;
}
